/* COMMON */
body {
    background: url("/images/anonymous-server-background.jpg") center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.page {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; 
    box-sizing: border-box;
}




/* HEADER */
.page__header {
}
.nav-trigger {
    background: url("/images/ico-menu.svg") center center no-repeat rgba(0, 0, 0, 0.80);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.0);
    position: fixed;
    top: 30px;
    right: 30px;
}
.nav {
    display: none;
}



/* MENU */
.nav {}
.nav__items {}
.nav__item {}
.nav__link {}
.nav-close {}




/* MAIN */
.page__main {
}
.page__wrapper {
    margin: 0 30px;
}
.page__main-title {
    margin: 0;
    text-transform: uppercase;
    color:white;
    width: 100px;
}




/* FOOTER */
.page__footer {
  align-self: center;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 5px;
  color: rgb(255, 255, 255, 0.3);
}
.page__footer-copy {
    font-family: Arial, Helvetica, sans-serif;
}
