/* COMMON */
body {
    background: url("/images/anonymous-server-background.jpg") center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.page {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    box-sizing: border-box;
}




/* HEADER */
.page__header {
}
.nav-trigger {
    background: url("/images/ico-menu.svg") center center no-repeat rgba(0, 0, 0, 0.80);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.0);
    position: fixed;
    top: 30px;
    right: 30px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.nav-trigger:hover {
    transform: scale(1.1);
}



/* MENU */
.nav {
    display: none;
}
.nav__items {
    width: 100vw;
    height: 100vh;
    background-color: rgb(64, 41, 41, 0.82);
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 150px 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    text-align: center;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-size: 35px;
}
.nav-close {
    background: url("/images/ico-close.svg") center center no-repeat rgba(0, 0, 0, 0.80);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.0);
    position: fixed;
    top: 30px;
    right: 30px;
    transition: transform 0.5s ease;
    cursor: pointer;
    z-index: 2;
}

.nav-close:hover {
    transform: scale(1.1);
}




/* MAIN */
.page__main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.page__wrapper {
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.page__main-title {
    margin: 0;
    text-transform: uppercase;
    color:white;
    width: 200px;
    margin: 100px 0 0;
    box-sizing: border-box;
}




/* FOOTER */
.page__footer {
  align-self: center;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

}
.page__footer-copy {
    border-radius: 5px;
    color: rgb(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 0;
    margin: 0;
    box-sizing: border-box;
}

@media all and (min-width: 768px){
    .page__main-title {
        font-size: 70px;
    }

    .page__wrapper {
        padding: 0 60px;
        max-width: 990px;
    }
}